In [51]:
import pandas as pd

In [52]:
df = pd.read_csv('./csv/15_03_2023/ailey_in_person.csv', index_col=False)

In [53]:
left_aligned = df.style.set_properties(**{'text-align': 'left'})

In [54]:
df['Start time'] = df['Start time'].str.rstrip('  EDT')

In [55]:
left_aligned

In [56]:
df['Class Schedule']

0           IN-STUDIO Beginner Ballet
1           IN-STUDIO Beginner Horton
2             IN-STUDIO Zumba Fitness
3            IN-STUDIO Beginner Heels
4     IN-STUDIO Beginner West African
5    IN-STUDIO Beginner Broadway Jazz
6              IN-STUDIO Open Hip-Hop
7     IN-STUDIO Beginner Contemporary
8          IN-STUDIO Beginner Hip-Hop
Name: Class Schedule, dtype: object

In [57]:
df['Class Schedule'] = df['Class Schedule'].str.lstrip('IN-STUDIO')

In [58]:
df

,Start time,Sign up,Class Schedule,Instructor,Studio,Duration
0,6:00 pm,/ASP/res_a.asp?tg=12&classId=2146822747&classD...,Beginner Ballet,Benjamin Briones,Studio 1A,1 hour & 30 minutes
1,6:30 pm,/ASP/res_a.asp?tg=12&classId=2146822764&classD...,Beginner Horton,Amos Machanic,Studio 1C,1 hour & 30 minutes
2,6:30 pm,/ASP/res_a.asp?tg=12&classId=2146823140&classD...,Zumba Fitness,Mike Gomez,Studio 1B,1 hour
3,7:00 pm,/ASP/res_a.asp?tg=12&classId=2146822756&classD...,Beginner Heels,Marie Rose Baramo,Studio LLC,1 hour & 15 minutes
4,7:00 pm,/ASP/res_a.asp?tg=12&classId=2146823822&classD...,Beginner West African,Bakary Fall,Studio 2A,1 hour & 30 minutes
5,6:30 pm,/ASP/res_a.asp?tg=12&classId=2146822749&classD...,Beginner Broadway Jazz,Judine Somerville,Studio 5D,1 hour
6,6:30 pm,/ASP/res_a.asp?tg=12&classId=2146823264&classD...,Open Hip-Hop,Antonio Jefferson,Studio 5A,1 hour & 30 minutes
7,7:00 pm,/ASP/res_a.asp?tg=12&classId=2146822753&classD...,Beginner Contemporary,Linda Celeste Sims,Studio 5B,1 hour & 30 minutes
8,7:00 pm,/ASP/res_a.asp?tg=12&classId=2146823178&classD...,Beginner Hip-Hop,Keith Alexander,Studio 2B,1 hour