In [28]:
import pandas as pd
import re

In [29]:
df = pd.read_csv('./csv/24_03_2023/live/gramercy.csv', index_col=False)

In [30]:
right_aligned = df.style.set_properties(**{'text-align': 'right'})

In [31]:
right_aligned

In [32]:
def strip_time(df):
    df['Start time'] = df['Start time'].str.split('EDT').str[0]
    return df

In [33]:
def rename_columns(df):
    df = df.rename(columns={'Teacher': 'Instructor', 'Class': 'Classes', 'Class Schedule': 'Classes', 'Sessions': 'Classes', 'Link': 'Sign up'}, inplace=True)
    return df

In [34]:
df

,Studio,Start time,Classes,Link,Instructor
0,Gramercy Studios,5:30pm,beginner contemporary fusion with Yurie,https://gramercydancestudios.as.me/yuriesiva,Yurie
1,Gramercy Studios,7:00Pm,open level heels with Lia Fialho,https://gramercydancestudios.as.me/liafialho,Lia Fialho
2,Gramercy Studios,8:30pm,intermediate hip hop with Skye,https://gramercydancestudios.as.me/skye,Skye

In [5]:
def add_null_signups(df):
    df = df.loc[df["Sign up"].isnull(),'Signup'] = 'None'
    return df

In [6]:
def shorten_class_level(df):
    df['Classes'] = df['Classes'].str.replace('beginner', 'Beg',case=False)
    df['Classes'] = df['Classes'].str.replace('foundations', 'Found',case=False)
    df['Classes'] = df['Classes'].str.replace('foundation', 'Found',case=False)
    df['Classes'] = df['Classes'].str.replace('introduction', 'Intro',case=False)
    df['Classes'] = df['Classes'].str.replace('intermediate', 'Int',case=False)
    df['Classes'] = df['Classes'].str.replace('inter', 'Int',case=False)
    df['Classes'] = df['Classes'].str.replace('advanced', 'Adv',case=False)
    return df

In [7]:
def change_hyphenation_of_class_level(df):
    df['Classes'] = df['Classes'].str.replace('Beg - Int', 'Beg/Int',case=False)
    df['Classes'] = df['Classes'].str.replace('Int - Beg', 'Int/Ben',case=False)
    df['Classes'] = df['Classes'].str.replace('Int - Adv', 'Int/Adv',case=False)
    df['Classes'] = df['Classes'].str.replace('Adv - Int', 'Adv/Int',case=False)
    return df

In [8]:
def remove_class_location(df):
    df['Classes'] = df['Classes'].str.replace('live-streaming', '',case=False)
    df['Classes'] = df['Classes'].str.replace('live-stream', '',case=False)
    df['Classes'] = df['Classes'].str.replace('livestream', '',case=False)
    df['Classes'] = df['Classes'].str.replace('live', '',case=False)
    df['Classes'] = df['Classes'].str.replace('in-studio', '',case=False)
    df['Classes'] = df['Classes'].str.replace('in-person', '',case=False)
    df['Classes'] = df['Classes'].str.replace('studio', '',case=False)
    df['Classes'] = df['Classes'].str.replace('online', '',case=False)
    df['Classes'] = df['Classes'].str.replace('virtual', '',case=False)
    df['Classes'] = df['Classes'].str.replace('lic', '',case=False)
    df['Classes'] = df['Classes'].str.replace('man', '',case=False)
    df['Classes'] = df['Classes'].str.replace(':', '',case=False)
    df['Classes'] = df['Classes'].str.replace('®', '',case=False)
    df['Classes'] = df['Classes'].str.replace('™', '',case=False)
    return df

In [9]:
def remove_instructor_from_class(df):
    df['Classes'] = df['Classes'].str.split('with').str[0]
    df['Classes'] = df['Classes'].str.split(' - ').str[0]
    return df

In [10]:
def remove_masks_from_instructor(df):
    df['Instructor'] = df['Instructor'].str.replace(r'\(masks optional\)','',case=False, regex=True)
    df['Instructor'] = df['Instructor'].str.replace(r'\(mask optional\)','',case=False, regex=True)
    df['Instructor'] = df['Instructor'].str.replace(r'\(masks required\)','',case=False, regex=True)
    df['Instructor'] = df['Instructor'].str.replace(r'\(mask required\)','',case=False, regex=True)
    return df

In [11]:
def remove_type_from_instructor(df):
    #Peridance
    df['Instructor'] = df['Instructor'].str.replace(r'^.+:', '', regex=True)
    df['Instructor'] = df['Instructor'].str.replace(r'\|.*$', '', regex=True)
    return df

In [12]:
def remove_quotes_from_instructor(df):
    df['Instructor'] = df['Instructor'].str.replace('"', '', case=False)
    return df

In [13]:
def remove_colon_from_class(df):
    # mark_morris has weird contemporary
    df['Classes'] = df['Classes'].str.replace('contemporary:', 'contemporary',case=False)
#     df['Classes'] = df['Classes'].str.split(':').str[1]
    df['Classes'] = df['Classes'].replace(r'^.+:', '', regex=True)
    return df

In [14]:
def remove_brackets_from_class(df):
    df['Classes'] = df['Classes'].str.replace('[()]', '', regex=True)
    df['Classes'] = df['Classes'].str.replace('[\[\]]', '', regex=True)
    return df

In [15]:
def shorten_class_style(df):
    df['Classes'] = df['Classes'].str.replace('contemporary', 'Contemp', case=False)
    df['Classes'] = df['Classes'].str.replace('commercial', 'Comm', case=False)
    df['Classes'] = df['Classes'].str.replace('choreography', 'Choreo', case=False)
    return df

In [16]:
def titleize_classes(df, series):
    df[series] = df[series].str.title()
    return df

In [17]:
def strip_df(df):
    return df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [18]:
def fix_ild_studios(filename, df):
    if filename == 'ild_nj.csv':
        df = df.replace('ILoveDance', 'ILoveDance NJ')
    elif filename == 'ild_manhattan.csv':
        df = df.replace('ILoveDance', 'ILoveDance NYC')
    elif filename == 'ild_queens.csv':
        df = df.replace('ILoveDance', 'ILoveDance Queens')
    return df

In [19]:
strip_time(df)
rename_columns(df)
remove_colon_from_class(df)
remove_brackets_from_class(df)
remove_class_location(df)
remove_quotes_from_instructor(df)
remove_type_from_instructor(df)
shorten_class_level(df)
change_hyphenation_of_class_level(df)
remove_instructor_from_class(df)
remove_masks_from_instructor(df)
shorten_class_style(df)
titleize_classes(df, 'Classes')

             Studio Start time               Classes         Instructor
0  Gramercy Studios     4:00pm            Beg Choreo      Shmulik Stell
1  Gramercy Studios     5:30pm           Int Hip Hop  Robert Taylor Jr.
2  Gramercy Studios     7:00pm  Open Level Reggaeton    jahaira crystal
3  Gramercy Studios    8:30 pm             Beg House      Natasha ivory

In [20]:
def get_social_columns(df):
    return df[['Studio','Start time','Classes','Instructor']]

In [21]:
remove_instructor_from_class(df)
print('hi')

hi

In [22]:
def shorten_class_style(df):
    df['Classes'] = df['Classes'].str.replace('contemporary', 'Contemp', case=False)

In [23]:
df = df.dropna()
df = get_social_columns(strip_df(df))

In [24]:
df.to_csv(f'csv/22_03_2023/test.csv', index=False)

In [25]:
df = df.applymap(lambda x: x.replace('"', ''))
df = df.applymap(lambda x: x.replace("'", ''))

In [26]:
df

             Studio Start time               Classes         Instructor
0  Gramercy Studios     4:00pm            Beg Choreo      Shmulik Stell
1  Gramercy Studios     5:30pm           Int Hip Hop  Robert Taylor Jr.
2  Gramercy Studios     7:00pm  Open Level Reggaeton    jahaira crystal
3  Gramercy Studios    8:30 pm             Beg House      Natasha ivory

In [27]:
df['Start time'] = df['Start time'].replace(to_replace=r'(am|pm)', value=r'\1', regex=True)
df['Start time'] = df['Start time'].replace(r' ', '', regex=True)

In [30]:
df['Start time']

0    4:00pm
1    5:30pm
2    7:00pm
3    8:30pm
Name: Start time, dtype: object

In [29]:
time_obj = datetime.datetime.strptime('10:00 am', '%I:%M %p')
time_obj

NameError: name 'datetime' is not defined

In [ ]:
import datetime