In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('./csv/18_03_2023/social/bdc.csv', index_col=False)

In [3]:
right_aligned = df.style.set_properties(**{'text-align': 'right'})

In [4]:
right_aligned

In [5]:
def strip_time(df):
    df['Start time'] = df['Start time'].str.split('EDT').str[0]
    return df

In [6]:
strip_time(df)
print('hi')

hi

In [7]:
def rename_columns(df):
    df = df.rename(columns={'Teacher': 'Instructor', 'Class': 'Classes', 'Class Schedule': 'Classes', 'Sessions': 'Classes'}, inplace=True)
    return df

In [8]:
rename_columns(df)

In [9]:
df

,Studio,Start time,Classes,Instructor
0,Broadway Dance Center,9:00 am,Basic Theater,Melodye Redding
1,Broadway Dance Center,10:30 am,Adv Beg Tap,Avital Asuleen
2,Broadway Dance Center,12:15 pm,Adv Beg Jazz Fusion,Michelle Barber
3,Broadway Dance Center,2:00 pm,Int Jazz Fusion,Michelle Barber
4,Broadway Dance Center,2:15 pm,Adv Beg Jazz Funk,Chio
5,Broadway Dance Center,3:45 pm,Adv Beg Commercial Jazz,Lindsay Lancaster (2)
6,Broadway Dance Center,4:00 pm,Adv Beg Hip-Hop,Q
7,Broadway Dance Center,5:15 pm,Int Adv Hip-Hop,David Thomas
8,Broadway Dance Center,5:30 pm,Beg Tap,Mark Albrecht
9,Broadway Dance Center,6:45 pm,All Levels Dancehall,Korie Genius
10,Broadway Dance Center,6:45 pm,Beg Ballet,Erica Ratkovicz
11,Broadway Dance Center,9:00 am,Beg Lyrical,Emily Bufferd
12,Broadway Dance Center,10:30 am,Beg Hip-Hop,Paolo Slice Penala (1)
13,Broadway Dance Center,12:15 pm,Basic Ballet,Jessica Epting
14,Broadway Dance Center,2:00 pm,Adv Beg Ballet,Kate Loh
15,Broadway Dance Center,3:45 pm,Int Theater,Jason Wise (3)
16,Broadway Dance Center,4:00 pm,Basic Tap,Mark Albrecht
17,Broadway Dance Center,5:15 pm,All Levels Afro'Dance,Angel Kaba
18,Broadway Dance Center,5:15 pm,Int Contemp Jazz,Nijawwon Matthews
19,Broadway Dance Center,5:45 pm,All Levels Tutting,Billy Cohen
20,Broadway Dance Center,6:45 pm,Basic Heels,Crystal Abadia (4)
21,Broadway Dance Center,6:45 pm,Int Adv Contemp,Ali Pfleger

In [10]:
df['Classes']

0               Basic Theater
1                 Adv Beg Tap
2         Adv Beg Jazz Fusion
3             Int Jazz Fusion
4           Adv Beg Jazz Funk
5     Adv Beg Commercial Jazz
6             Adv Beg Hip-Hop
7             Int Adv Hip-Hop
8                     Beg Tap
9        All Levels Dancehall
10                 Beg Ballet
11                Beg Lyrical
12                Beg Hip-Hop
13               Basic Ballet
14             Adv Beg Ballet
15                Int Theater
16                  Basic Tap
17      All Levels Afro'Dance
18           Int Contemp Jazz
19         All Levels Tutting
20                Basic Heels
21            Int Adv Contemp
Name: Classes, dtype: object

In [11]:
def shorten_class_level(df):
    df['Classes'] = df['Classes'].str.replace('beginner', 'Beg',case=False)
    df['Classes'] = df['Classes'].str.replace('foundations', 'Found',case=False)
    df['Classes'] = df['Classes'].str.replace('foundation', 'Found',case=False)
    df['Classes'] = df['Classes'].str.replace('introduction', 'Intro',case=False)
    df['Classes'] = df['Classes'].str.replace('intermediate', 'Int',case=False)
    df['Classes'] = df['Classes'].str.replace('inter', 'Int',case=False)
    df['Classes'] = df['Classes'].str.replace('advanced', 'Adv',case=False)
    return df

In [12]:
def remove_class_location(df):
    df['Classes'] = df['Classes'].str.replace('live-streaming', '',case=False)
    df['Classes'] = df['Classes'].str.replace('live-stream', '',case=False)
    df['Classes'] = df['Classes'].str.replace('livestream', '',case=False)
    df['Classes'] = df['Classes'].str.replace('live', '',case=False)
    df['Classes'] = df['Classes'].str.replace('in-studio', '',case=False)
    df['Classes'] = df['Classes'].str.replace('in-person', '',case=False)
    df['Classes'] = df['Classes'].str.replace('studio', '',case=False)
    df['Classes'] = df['Classes'].str.replace('online', '',case=False)
    df['Classes'] = df['Classes'].str.replace('virtual', '',case=False)
    df['Classes'] = df['Classes'].str.replace('lic', '',case=False)
    df['Classes'] = df['Classes'].str.replace('man', '',case=False)
    df['Classes'] = df['Classes'].str.replace(':', '',case=False)
    return df

In [13]:
# run after remove_class_location
def remove_teacher_from_class(df):
    df['Classes'] = df['Classes'].str.split('with').str[0]
    df['Classes'] = df['Classes'].str.split('-').str[0]
    return df

In [14]:
def remove_type_from_instructor(df):
    #Peridance
    df['Instructor'] = df['Instructor'].str.replace(r'^.+:', '', regex=True)
    df['Instructor'] = df['Instructor'].str.replace(r'\|.*$', '', regex=True)
    return df

In [15]:
def remove_colon_from_class(df):
    # mark_morris has weird contemporary
    df['Classes'] = df['Classes'].str.replace('contemporary:', 'contemporary',case=False)
#     df['Classes'] = df['Classes'].str.split(':').str[1]
    df['Classes'] = df['Classes'].replace(r'^.+:', '', regex=True)
    return df

In [16]:
def remove_brackets_from_class(df):
    df['Classes'] = df['Classes'].str.replace('[()]', '', regex=True)
    df['Classes'] = df['Classes'].str.replace('[\[\]]', '', regex=True)
    return df

In [17]:
remove_colon_from_class(df)
print('hi')

hi

In [18]:
remove_brackets_from_class(df)
print('hi')

hi

In [19]:
remove_class_location(df)
print('hi')

hi

In [20]:
remove_type_from_instructor(df)
print('hi')

hi

In [21]:
shorten_class_level(df)
print('hi')

hi

In [22]:
remove_teacher_from_class(df)
print('hi')

hi

In [23]:
def shorten_class_style(df):
    df['Classes'] = df['Classes'].str.replace('contemporary', 'Contemp', case=False)

In [24]:
shorten_class_style(df)
print('hi')

hi

In [25]:
def create_title(series):
    df[series] = df[series].str.title()
    return df

In [26]:
create_title('Classes')
print('hi')

hi

In [27]:
df = df.dropna()

In [28]:
df.style.set_properties(**{'text-align': 'right'})

In [29]:
df[['Studio','Start time','Classes','Instructor']]

,Studio,Start time,Classes,Instructor
0,Broadway Dance Center,9:00 am,Basic Theater,Melodye Redding
1,Broadway Dance Center,10:30 am,Adv Beg Tap,Avital Asuleen
2,Broadway Dance Center,12:15 pm,Adv Beg Jazz Fusion,Michelle Barber
3,Broadway Dance Center,2:00 pm,Int Jazz Fusion,Michelle Barber
4,Broadway Dance Center,2:15 pm,Adv Beg Jazz Funk,Chio
5,Broadway Dance Center,3:45 pm,Adv Beg Commercial Jazz,Lindsay Lancaster (2)
6,Broadway Dance Center,4:00 pm,Adv Beg Hip,Q
7,Broadway Dance Center,5:15 pm,Int Adv Hip,David Thomas
8,Broadway Dance Center,5:30 pm,Beg Tap,Mark Albrecht
9,Broadway Dance Center,6:45 pm,All Levels Dancehall,Korie Genius
10,Broadway Dance Center,6:45 pm,Beg Ballet,Erica Ratkovicz
11,Broadway Dance Center,9:00 am,Beg Lyrical,Emily Bufferd
12,Broadway Dance Center,10:30 am,Beg Hip,Paolo Slice Penala (1)
13,Broadway Dance Center,12:15 pm,Basic Ballet,Jessica Epting
14,Broadway Dance Center,2:00 pm,Adv Beg Ballet,Kate Loh
15,Broadway Dance Center,3:45 pm,Int Theater,Jason Wise (3)
16,Broadway Dance Center,4:00 pm,Basic Tap,Mark Albrecht
17,Broadway Dance Center,5:15 pm,All Levels Afro'Dance,Angel Kaba
18,Broadway Dance Center,5:15 pm,Int Contemp Jazz,Nijawwon Matthews
19,Broadway Dance Center,5:45 pm,All Levels Tutting,Billy Cohen
20,Broadway Dance Center,6:45 pm,Basic Heels,Crystal Abadia (4)
21,Broadway Dance Center,6:45 pm,Int Adv Contemp,Ali Pfleger

In [30]:
df.pivot_table

<bound method DataFrame.pivot_table of                    Studio Start time                  Classes  \
0   Broadway Dance Center    9:00 am            Basic Theater
1   Broadway Dance Center   10:30 am              Adv Beg Tap
2   Broadway Dance Center   12:15 pm      Adv Beg Jazz Fusion
3   Broadway Dance Center    2:00 pm          Int Jazz Fusion
4   Broadway Dance Center    2:15 pm        Adv Beg Jazz Funk
5   Broadway Dance Center    3:45 pm  Adv Beg Commercial Jazz
6   Broadway Dance Center    4:00 pm              Adv Beg Hip
7   Broadway Dance Center    5:15 pm              Int Adv Hip
8   Broadway Dance Center    5:30 pm                  Beg Tap
9   Broadway Dance Center    6:45 pm     All Levels Dancehall
10  Broadway Dance Center    6:45 pm               Beg Ballet
11  Broadway Dance Center    9:00 am              Beg Lyrical
12  Broadway Dance Center   10:30 am                  Beg Hip
13  Broadway Dance Center   12:15 pm             Basic Ballet
14  Broadway Dance Center    2:00 pm           Adv Beg Ballet
15  Broadway Dance Center    3:45 pm              Int Theater
16  Broadway Dance Center    4:00 pm                Basic Tap
17  Broadway Dance Center    5:15 pm    All Levels Afro'Dance
18  Broadway Dance Center    5:15 pm         Int Contemp Jazz
19  Broadway Dance Center    5:45 pm       All Levels Tutting
20  Broadway Dance Center    6:45 pm              Basic Heels
21  Broadway Dance Center    6:45 pm          Int Adv Contemp

                Instructor
0          Melodye Redding
1           Avital Asuleen
2          Michelle Barber
3          Michelle Barber
4                     Chio
5    Lindsay Lancaster (2)
6                        Q
7             David Thomas
8            Mark Albrecht
9             Korie Genius
10         Erica Ratkovicz
11           Emily Bufferd
12  Paolo Slice Penala (1)
13          Jessica Epting
14                Kate Loh
15          Jason Wise (3)
16           Mark Albrecht
17              Angel Kaba
18       Nijawwon Matthews
19             Billy Cohen
20      Crystal Abadia (4)
21             Ali Pfleger  >