In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('./csv/17_03_2023/live/atdf.csv', index_col=False)

In [3]:
right_aligned = df.style.set_properties(**{'text-align': 'right'})

In [4]:
right_aligned

In [5]:
def strip_time(df):
    df['Start time'] = df['Start time'].str.split('EDT').str[0]
    return df

In [6]:
strip_time(df)
print('hi')

hi

In [7]:
def rename_columns(df):
    df = df.rename(columns={'Teacher': 'Instructor', 'Class': 'Classes'}, inplace=True)
    return df

In [8]:
rename_columns(df)

In [9]:
df

,Start time,Sign up,Classes,Instructor,Duration
0,6:15 pm,/ASP/res_a.asp?tg=22&classId=2030&classDate=3/...,Basic,Sandra Kluge,1 hour & 15 minutes

In [10]:
df['Classes']

0    Basic
Name: Classes, dtype: object

In [11]:
def shorten_class_level(df):
    df['Classes'] = df['Classes'].str.replace('beginner', 'Beg',case=False)
    df['Classes'] = df['Classes'].str.replace('foundations', 'Found',case=False)
    df['Classes'] = df['Classes'].str.replace('foundation', 'Found',case=False)
    df['Classes'] = df['Classes'].str.replace('introduction', 'Intro',case=False)
    df['Classes'] = df['Classes'].str.replace('intermediate', 'Int',case=False)
    df['Classes'] = df['Classes'].str.replace('inter', 'Int',case=False)
    df['Classes'] = df['Classes'].str.replace('advanced', 'Adv',case=False)
    return df

In [12]:
def remove_class_location(df):
    df['Classes'] = df['Classes'].str.replace('live-streaming', '',case=False)
    df['Classes'] = df['Classes'].str.replace('live-stream', '',case=False)
    df['Classes'] = df['Classes'].str.replace('livestream', '',case=False)
    df['Classes'] = df['Classes'].str.replace('live', '',case=False)
    df['Classes'] = df['Classes'].str.replace('in-studio', '',case=False)
    df['Classes'] = df['Classes'].str.replace('in-person', '',case=False)
    df['Classes'] = df['Classes'].str.replace('studio', '',case=False)
    df['Classes'] = df['Classes'].str.replace('online', '',case=False)
    df['Classes'] = df['Classes'].str.replace('virtual', '',case=False)
    df['Classes'] = df['Classes'].str.replace('lic', '',case=False)
    df['Classes'] = df['Classes'].str.replace('man', '',case=False)
    df['Classes'] = df['Classes'].str.replace(':', '',case=False)
    return df

In [13]:
# run after remove_class_location
def remove_teacher_from_class(df):
    df['Classes'] = df['Classes'].str.split('with').str[0]
    df['Classes'] = df['Classes'].str.split('-').str[0]
    return df

In [14]:
def remove_type_from_instructor(df):
    #Peridance
    df['Instructor'] = df['Instructor'].str.replace(r'^.+:', '', regex=True)
    df['Instructor'] = df['Instructor'].str.replace(r'\|.*$', '', regex=True)
    return df

In [15]:
def remove_colon_from_class(df):
    # mark_morris has weird contemporary
    df['Classes'] = df['Classes'].str.replace('contemporary:', 'contemporary',case=False)
#     df['Classes'] = df['Classes'].str.split(':').str[1]
    df['Classes'] = df['Classes'].replace(r'^.+:', '', regex=True)
    return df

In [16]:
def remove_brackets_from_class(df):
    df['Classes'] = df['Classes'].str.replace('[()]', '', regex=True)
    df['Classes'] = df['Classes'].str.replace('[\[\]]', '', regex=True)
    return df

In [17]:
remove_colon_from_class(df)
print('hi')

hi

In [18]:
remove_brackets_from_class(df)
print('hi')

hi

In [19]:
remove_class_location(df)
print('hi')

hi

In [20]:
remove_type_from_instructor(df)
print('hi')

hi

In [21]:
shorten_class_level(df)
print('hi')

hi

In [22]:
remove_teacher_from_class(df)
print('hi')

hi

In [23]:
def shorten_class_style(df):
    df['Classes'] = df['Classes'].str.replace('contemporary', 'Contemp', case=False)

In [24]:
shorten_class_style(df)
print('hi')

hi

In [25]:
def create_title(series):
    df[series] = df[series].str.title()
    return df

In [26]:
create_title('Classes')
print('hi')

hi

In [27]:
df = df.dropna()

In [28]:
df.style.set_properties(**{'text-align': 'right'})